appdirs==1.4.3
asgiref==3.2.10
astroid==2.4.1
autopep8==1.5.2
bleach==3.1.5
colorama==0.4.3
distlib==0.3.0
dj-database-url==0.5.0
Django==3.0.8
django-crispy-forms==1.9.1
django-markdownify==0.8.1
filelock==3.0.12
gunicorn==20.0.4
importlib-metadata==1.5.0
isort==4.3.21
lazy-object-proxy==1.4.3
Markdown==3.2.2
mccabe==0.6.1
packaging==20.4
psycopg2==2.8.5
psycopg2-binary==2.8.5
pycodestyle==2.6.0
pylint==2.5.2
pyparsing==2.4.7
pytz==2020.1
six==1.14.0
sqlparse==0.3.1
toml==0.10.1
typed-ast==1.4.1
virtualenv==20.0.10
webencodings==0.5.1
whitenoise==5.2.0
wrapt==1.12.1
zipp==3.1.0
